<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 id="appName">{{msg}}</h1>
        <h2 id="tagline">Make and take smart quizzes on-the-go!</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <a id="takeQuizBtn" class="btn btn-primary" href="/quiz-selection" role="button">Take a Quiz</a>
      </div>

      <div class="col-sm-12 col-md-6">
        <a id="makeQuizBtn" class="btn btn-success" href="/create-quiz" role="button">Make a Quiz</a>
      </div>
    </div>
  </div>

</div>




<!--<h3>Examples:</h3>
      <ul id="example-list" class="list-group">
        {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>